body {
margin: 0;
padding: 0;
  font-size: 15px;
  font-family: sans-serif;
}

body {
  line-height: 1.5;
  padding: 0em 0em;
  background-color:rgb(246, 243, 243);
}

h1 {
    font-size: 71px;
}

h2 {
    font-size: 42px;
}

h3 {
    font-size: 25px;
}

h1,
h2,
strong {
  color: #333;
}

blockquote {
    border-left: 0.3em solid #ddd;
    padding: 0.59em;
    background: #eee;
    margin: 1em auto;
}

kbd {
    display: inline-block;
    border-radius: 3px;
    padding: 0px 4px;
    box-shadow: 1px 1px 1px #777;
    margin: 2px;
    font-size: small;
    vertical-align: text-bottom;
    background: #eee;
    font-weight: 500;
    color: #555;
    cursor: pointer;
    font-variant: small-caps;
    font-weight: 600;
    letter-spacing: 0.5px;
    letter-spacing: 1px;
}

#header {
    background-position: center top;
    background-repeat: no-repeat;
}

#header h2 {
    margin:0;
    padding:0;
    text-align: center;
    letter-spacing: 0.1em;
    background-color: rgb(254, 213, 0);
    color: rgb(230, 35, 37);
    font-size: 50px;
    text-shadow: #0f0f0f 4px 3px 1px;

}

.main {
  padding:0 2em;
  margin: 0 auto;
  margin-bottom: 1em;
  max-width: 50%;
  border-bottom: 2px solid #0f0f0f;
  line-height: 1.7em;
  text-align: justify;
  word-break: break-all;
}

@media (min-device-width: 320px)  {
    .main {
        max-width: 100%;
    }
}
    
.nav {
    background-color: #eee;
    padding: 0.59em;
}

#title {
    text-align: center;
}

#title a {
    text-decoration: none;
}

.wrapper {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
}

.articles-list li {
    list-style: none;
    margin-top: 0.5em;
    float:left;
    margin-right: 2em;
}

.articles-list a {
    color: rgb(42, 38, 38);
    font-size: 16px;
    font-weight: bold;
}

.articles-list a:hover {
    text-decoration: underline;
}


.date {
    font-size: 10px;
    margin-left:1em;
    padding: 0.2em 0.4em;
    background-color: #ddd;
    color:#000;
}

a {
  color: #e81c4f;    
}